body
{
height:500px;
width:600px;
background:url(back.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
background-size:cover;

color:#0000ff;

}
.menu
{
background-color:#000000;
color:#cc6666;


}
.text
{
padding-left:400px;
font-size:50px;}
.text1
{
padding-left:480px;
font-size:50px;
}
.image
{

padding-top:300px;

padding-left:200px;
}
.text2   
{
padding-left:200px;
font-size:40px;
}
.ln{
padding-left:100px;}
.kl{
padding-left:60px;}
.pl{
padding-left:40px;}

.lp{padding-left:5px;}
.pad{padding:5px;}
.bc
{
padding-left:150px;
}
.cb
{padding-left:50px;}
.nm{
padding-left:35px;}
.mn{
padding-left:35px;}
.dor
{
padding-left:100px;
}
.dp1
{
padding-left:10px;
}
.branch
{
padding-left:160px;
}
.tabw
{
background-color:#000000;
color:#ffdcb2;
}
.text3
{
padding-left:300px;
font-size:40px;
text-shadow:2px 3px 2px #0066ff;
font-family: myFirstFont;
src: url(sansation_light.woff);
}
.text4
{
padding-left:2600px;
font-size:40px;
}
